<a href="https://colab.research.google.com/github/Albinam1/Parsing-website-on-Python-with-BeautifulSoup/blob/main/%22CDN_info_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
#us_path = input("Введите путь до файла в формате xlxs: ")
data = pd.read_excel(us_path)
data = pd.read_excel('/content/Копия bulls_data (2).xlsx')
# Выбор значений из столбца "num", где "country" = "CAN" и "por" = "HO"
por = input("ВВедите породу:")
#por = "HO"
country = input("ВВедите страну:")
filtered_df = data.loc[(data['COUNTRY3'] == country) & (data['PORODA'] == por)]['NUMBER']
selected_values_list = filtered_df.tolist()
bull_numbers= []
for i in selected_values_list:
  bull_numbers.append(i)
bull_numbers = bull_numbers[:10]

record = []
for number in bull_numbers:
  url = f"https://www.cdn.ca/query/detail_ge.php?breed={por}&country={country}&sex=M&regnum={number}"
  response = requests.get(url)
  soup = BeautifulSoup(response.text, "html.parser")
  title = soup.find('title')
  if title.string == 'Canadian Dairy Network - Genetic Evaluation Summary':
    for rows in soup.find_all("table", class_= "animalOverline"):
      td_tags = soup.find_all('td')
      num = soup.find('td', class_='animalHeaderSubTitle').text
      klichka = soup.find('td', class_='animalHeaderSubTitle')
      klichka_ = klichka.find_next('td').text
      tdElement = soup.find('td', {'style': 'width:100px; text-align: right;'})
      DR= tdElement.text.strip()
      pro = soup.find('td', {'style':"text-align: center; text-transform: none;"}).find_next('td').text
      pa_lpi = soup.find('td', {'style':"text-align: right; font-weight: bold; border-bottom: 1px solid #FFF;"}).find_next('td').text
      reability_pa_lpi = soup.find('td', {'style':"text-align: right; font-weight: bold; border-bottom: 1px solid #FFF;"}).find_next('td').find_next('td').text
      production = soup.find('td', {'style':"text-align: right; font-weight: bold; border-bottom: 1px solid #FFF;"}).find_next('td').find_next('td').find_next('td').find_next('td').text
      durability = soup.find('td', {'style':"text-align: right; font-weight: bold; border-bottom: 1px solid #FFF;"}).find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').text
      health_fert = soup.find('td', {'style':"text-align: right; font-weight: bold; border-bottom: 1px solid #FFF;"}).find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').find_next('td').text
      herds = soup.find('td', {'style':"width: 110px;"}).find_next('td').text
      Daughters = soup.find('td', string = 'Daughters').find_next('td').text
      Lactations = soup.find('td', string = 'Lactations').find_next('td').text
      Reliability = soup.find('td', string = 'Reliability').find_next('td').text
      Milk = soup.find('td', string = 'Milk').find_next('td').text
      Fat = soup.find('td', string = 'Fat').find_next('td').text
      Protein = soup.find('td', string = 'Protein').find_next('td').text
      Milk_RK = soup.find('td', string = 'Milk').find_next('td').find_next('td').text
      Fat_RK = soup.find('td', string = 'Fat').find_next('td').find_next('td').text
      Protein_RK = soup.find('td', string = 'Protein').find_next('td').find_next('td').text
      Milk_Dev = soup.find('td', string = 'Milk').find_next('td').find_next('td').find_next('td').text
      Fat_Dev = soup.find('td', string = 'Fat').find_next('td').find_next('td').find_next('td').text
      Protein_Dev = soup.find('td', string = 'Protein').find_next('td').find_next('td').find_next('td').text
  else:
     num = None
     klichka_ = None
     DR = None
     pro = None
     pa_lpi = None
     reability_pa_lpi = None
     production = None
     durability = None
     health_fert = None
     herds = None
     Daughters = None
     Lactations = None
     Reliability = None
     Milk = None
     Fat = None
     Protein = None
     Milk_RK = None
     Fat_RK = None
     Protein_RK = None
     Milk_Dev = None
     Fat_Dev  = None
     Protein_Dev = None
  record.append([number, num, klichka_, DR, pro, pa_lpi, reability_pa_lpi, production, durability, health_fert, herds, Daughters, Lactations, Reliability, Milk, Fat, Protein, Milk_RK, Fat_RK, Protein_RK, Milk_Dev, Fat_Dev, Protein_Dev])
  columns = ['NUMBER', 'Bull Number', 'Klichka', 'DR', 'Pro$', 'LIFETIME PERFORMANCE INDEX', "REABILITY LPI", 'PRODUCTION', 'DURABILITY', 'HEALTH & FERTILITY', 'Herds', 'Daughters', 'Lactations', 'Reliability', 'Milk', 'Fat', 'Protein',  'Milk_RK', 'Fat_RK', 'Protein_RK', 'Milk_Dev', 'Fat_Dev', 'Protein_Dev']

#df.to_excel('infoCDN_about_bulls.xlsx', index=False) #Раскомментировать, если нужно записать в форматe xlsx

ВВедите страну:RUS

### США (USA)

In [ ]:
df_USA_1 = pd.DataFrame(record, columns = columns)
df_USA_1.to_excel('infoCDN_about_bulls_USA_1.xlsx', index=False)

In [ ]:
df_USA_2 = pd.DataFrame(record, columns = columns)
df_USA_2.to_excel('infoCDN_about_bulls_USA_2.xlsx', index=False)

In [ ]:
df_USA_3 = pd.DataFrame(record, columns = columns)
df_USA_3.to_excel('infoCDN_about_bulls_USA_3.xlsx', index=False)

In [ ]:
df_USA_4 = pd.DataFrame(record, columns = columns)
df_USA_4.to_excel('infoCDN_about_bulls_USA_4.xlsx', index=False)

### Нидерланды (NLD)

In [ ]:
df_NLD_1 = pd.DataFrame(record, columns = columns)
df_NLD_1.to_excel('infoCDN_about_bulls_NLD_1.xlsx', index=False)

In [ ]:
df_NLD_2 = pd.DataFrame(record, columns = columns)
df_NLD_2.to_excel('infoCDN_about_bulls_NLD_2.xlsx', index=False)

### Германия DEU

In [ ]:
df_DEU_1 = pd.DataFrame(record, columns = columns)
df_DEU_1.to_excel('infoCDN_about_bulls_DEU_1.xlsx', index=False)

In [ ]:
df_DEU_2 = pd.DataFrame(record, columns = columns)
df_DEU_2.to_excel('infoCDN_about_bulls_DEU_2.xlsx', index=False)

In [ ]:
df_DEU_2

,NUMBER,Bull Number,Klichka,DR,Pro$,LIFETIME PERFORMANCE INDEX,REABILITY LPI,PRODUCTION,DURABILITY,HEALTH & FERTILITY,...,Reliability,Milk,Fat,Protein,Milk_RK,Fat_RK,Protein_RK,Milk_Dev,Fat_Dev,Protein_Dev
0,358149884,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,358162479,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,358162492,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,358162567,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,358174839,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,9010450006,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1254,9010664098,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1255,9015014414,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1256,O349414970,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1257,O578891748,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

### Россия (RUS)

In [ ]:
df_RUS_1 = pd.DataFrame(record, columns = columns)
df_RUS_1.to_excel('infoCDN_about_bulls_RUS_1.xlsx', index=False)

In [ ]:
df_RUS_2 = pd.DataFrame(record, columns = columns)
df_RUS_2.to_excel('infoCDN_about_bulls_RUS_2.xlsx', index=False)

In [ ]:
df_RUS_2

,NUMBER,Bull Number,Klichka,DR,Pro$,LIFETIME PERFORMANCE INDEX,REABILITY LPI,PRODUCTION,DURABILITY,HEALTH & FERTILITY,...,Reliability,Milk,Fat,Protein,Milk_RK,Fat_RK,Protein_RK,Milk_Dev,Fat_Dev,Protein_Dev
0,5090001509,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,5090001510,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,5090001515,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,5090001517,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,5090001518,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,6290007776,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
941,6290007977,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
942,6790000258,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
943,6790002199,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
944,6790002201,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

### Канада (CAN)

In [ ]:
df_CAN = pd.DataFrame(record, columns = columns)
df_CAN.to_excel('infoCDN_about_bulls_CAN.xlsx', index=False)

### Дания (DNK)

In [ ]:
df_DNK = pd.DataFrame(record, columns = columns)
df_DNK.to_excel('infoCDN_about_bulls_DNK.xlsx', index=False)

### Франция (FRA)

In [ ]:
df_FRA = pd.DataFrame(record, columns = columns)
df_FRA.to_excel('infoCDN_about_bulls_FRA.xlsx', index=False)

### Италия (ITA)

In [ ]:
df_ITA = pd.DataFrame(record, columns = columns)
df_ITA.to_excel('infoCDN_about_bulls_ITA.xlsx', index=False)

### Великобритания (GBR)

In [ ]:
df_GBR = pd.DataFrame(record, columns = columns)
df_GBR.to_excel('infoCDN_about_bulls_GBR.xlsx', index=False)

### Венгрия (HUN)

In [ ]:
df_HUN = pd.DataFrame(record, columns = columns)
df_HUN.to_excel('infoCDN_about_bulls_HUN.xlsx', index=False)

### Швеция (SWE)

In [ ]:
df_SWE = pd.DataFrame(record, columns = columns)
df_SWE.to_excel('infoCDN_about_bulls_SWE.xlsx', index=False)

### Швейцария (SZE)

In [ ]:
df_SZE = pd.DataFrame(record, columns = columns)
df_SZE.to_excel('infoCDN_about_bulls_SWE.xlsx', index=False)

### Чехия (CHE)

In [ ]:
df_CHE = pd.DataFrame(record, columns = columns)
df_CHE.to_excel('infoCDN_about_bulls_CHE.xlsx', index=False)

### Бельгия (BEL)

In [ ]:
df_BEL = pd.DataFrame(record, columns = columns)
df_BEL.to_excel('infoCDN_about_bulls_BEL.xlsx', index=False)

### Финлянция (FIN)

In [ ]:
df_FIN = pd.DataFrame(record, columns = columns)
df_FIN.to_excel('infoCDN_about_bulls_FIN.xlsx', index=False)

### Австралия (AUS)

In [ ]:
df_AUS = pd.DataFrame(record, columns = columns)
df_AUS.to_excel('infoCDN_about_bulls_AUS.xlsx', index=False)

### Беларусь (BLR)

In [ ]:
df_BLR = pd.DataFrame(record, columns = columns)
df_BLR.to_excel('infoCDN_about_bulls_BLR.xlsx', index=False)

### Новая Зеландия (NZL)

In [ ]:
df_NZL = pd.DataFrame(record, columns = columns)
df_NZL.to_excel('infoCDN_about_bulls_NZL.xlsx', index=False)

### Ирландия (IRL)

In [ ]:
df_IRL = pd.DataFrame(record, columns = columns)
df_IRL.to_excel('infoCDN_about_bulls_IRL.xlsx', index=False)

### Словакия (SVK)

In [ ]:
df_SVK = pd.DataFrame(record, columns = columns)
df_SVK.to_excel('infoCDN_about_bulls_SVK.xlsx', index=False)

### Люксембург (LUX)

In [ ]:
df_LUX = pd.DataFrame(record, columns = columns)
df_LUX.to_excel('infoCDN_about_bulls_LUX.xlsx', index=False)

### Испания (ESP)

In [ ]:
df_ESP = pd.DataFrame(record, columns = columns)
df_ESP.to_excel('infoCDN_about_bulls_ESP.xlsx', index=False)

### Норвегия (NOR)

In [ ]:
df_NOR = pd.DataFrame(record, columns = columns)
df_NOR.to_excel('infoCDN_about_bulls_NOR.xlsx', index=False)

### Украина (UKR)

In [ ]:
df_UKR = pd.DataFrame(record, columns = columns)
df_UKR.to_excel('infoCDN_about_bulls_UKR.xlsx', index=False)

### Австралия (AUT)

In [ ]:
df_AUT = pd.DataFrame(record, columns = columns)
df_AUT.to_excel('infoCDN_about_bulls_AUT.xlsx', index=False)

### Эстония (EST)

In [ ]:
df_EST = pd.DataFrame(record, columns = columns)
df_EST.to_excel('infoCDN_about_bulls_EST.xlsx', index=False)

### Литва (LTU)

In [ ]:
df_LTU = pd.DataFrame(record, columns = columns)
df_LTU.to_excel('infoCDN_about_bulls_LTU.xlsx', index=False)

### Латвия (LVA)

In [ ]:
df_LVA = pd.DataFrame(record, columns = columns)
df_LVA.to_excel('infoCDN_about_bulls_LVA.xlsx', index=False)

# Анализ датасета

In [ ]:
data.shape

(18093, 23)

In [ ]:
data[data['PORODA'] == 'HO']['COUNTRY3'].value_counts()

USA    3497
NLD    2417
DEU    2258
RUS    1945
CAN    1095
DNK     657
FRA     200
ITA     170
GBR     154
HUN      86
SWE      57
CZE      54
BEL      42
CHE      19
FIN      19
AUS      15
BLR      12
NZL      11
IRL       9
SVK       7
LUX       7
ESP       4
NOR       4
UKR       3
AUT       3
EST       3
LTU       1
LVA       1
Name: COUNTRY3, dtype: int64